<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>svs</display-name>

	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.svs.restful.filters.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/closed/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>unrestricted</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.svs.restful.unrestricted</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>unrestricted</servlet-name>
		<url-pattern>/open/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>restricted</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.svs.restful.restricted</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>restricted</servlet-name>
		<url-pattern>/closed/*</url-pattern>
	</servlet-mapping>
</web-app>